/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    text-align: center;
}

body, html {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Header */
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #7b7b7be1;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px 5px;
}

.menu nav ul li a {
    text-decoration: none;
    font-weight: bolder;
    padding: 10px 15px;
}

.aHeader {
    position: relative;
    top: 13px;
    margin: 1px;
    color: #ffffffd0;
    border-radius: 2px;
    font-size: 0.7rem;
    text-shadow: 1px 1px 1px rgb(41, 41, 41);
}

.aHeader:hover {
    color: #bde86c;;
}

header img {
    width: 48px;
    position: relative;
    top: 5px;
}

/* style section */
.section {
    padding: 100px 20px; /* Adiciona espaço para que o conteúdo não fique escondido sob o menu fixo */
    min-height: 100vh;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
}

.section:nth-child(even) {
    background-color: #e9e9e9f7;
}

.section h1 {
    padding: 5px 25px;
    margin: 0px 10px;
    margin-top: 20px;
    font-size: 1.5rem;
    color: #656565;    
    z-index: 4;
}

.section h2 {
    padding: 5px;
    font-size: 1.3rem;
    color: #656565;
    z-index: 4;
}

.section h3 {
    padding: 5px;
    font-size: 1.1rem;
    color: #656565;
    display: block;
}

.section p {
    padding-top: 20px;
    font-size: 1.2rem;
    color: #666;
}

/* section 1 */

#home p {
    margin: 20px 0px;
    padding: 5px;
}

#home figure {
    margin: -60px;
}

#home img {
    width: 300px;
}

#home button {
    min-width: 100px;
    padding: 15px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 1px 1px black;
    background-image: linear-gradient(to top, #566a00, #6c8a0a, #83ab19, #98ce28, #acf238);
    border: none;
    border-radius: 10px;
    font-weight: 600;
}

#home button:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

/* section 2*/

.card{
    min-height: 200px;
    margin: 25px 10px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

#sites .card {
    background-color: #ffffff50;
}

.cardTools{
    margin: 0px 10px;
    padding: 0px 5px;
}

#sites h2, h3 {
    margin-top: 15px;
}

#sites p {
    padding: 10px;
}

#sites i {
    padding: 15px 20px;
    margin-top: 15px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    border-radius: 50%;
    background-image: linear-gradient(to top, #566a00, #6c8a0a, #83ab19, #98ce28, #acf238);
}

#sites .divCardsTools img {
    width: 70px;
}

/* section 3 */

#marketing h1 {
    font-size: 1.3rem;
}

#marketing h2 {
    margin-top: 15px;
}

#marketing p {
    padding: 10px;
}


#marketing .card img {
    width: 250px;
}

#marketing .cardMarketing {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
}

/* section 4 */

#contato form {
    padding: 15px;
}

#contato h2 {
    margin-top: 15px;
}

#contato label {
    color: #737373;
    padding: 10px;
    display: block;
}

#contato input[type="text"], input[type="email"], textarea {
    font-family: "Poppins", sans-serif;
    padding: 10px;
    border-radius: 5px;
    border: none;
    min-width: 250px;
}

#sendMsg {
    min-width: 100px;
    padding: 15px 20px;
    margin: 20px 0px;
    color: white;
    text-shadow: 1px 1px black;
    background-image: linear-gradient(to top, #566a00, #6c8a0a, #83ab19, #98ce28, #acf238);
    border: none;
    border-radius: 10px;
    font-weight: 600;
}

#sendMsg:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.error-message {
    color: rgba(255, 0, 0, 0.909);
    font-size: 0.8em;
    display: none; /* Ocultar por padrão */
    margin-top: 10px;
}

.success-message {
    color: green;
    font-size: 1em;
    margin-top: 10px;
    display: none; /* Oculto por padrão */
}


/* footer */

.menuFooter {
    width: 100%;
    background-color: #313131ed;
    z-index: 1000;
}

.menuFooter nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 5px 5px;
}

.menuFooter nav ul li a {
    text-decoration: none;
    font-weight: bolder;
    padding: 10px; 
}

.menuFooter img {
    width: 40px;
    margin: 5px;
    position: relative;
    top: 15px;
}

.menuFooter i {
    padding: 5px;
    font-size: 25px;
}

.cardContact {
    margin: 15px 5px;
    display: inline-block;
    min-width: max-content;
}

.menuFooter i{
    color: #ffffffe5;
    margin: 5px;
}

/* response */
@media (min-width: 768px) {
    .menu nav ul li a {
        font-size: 1rem;
    }

    .section h1 {
        font-size: 2.4rem;
    }

    .section p {
        font-size: 1rem;
    }

    /* section 1 */

    #home figure {
        padding: 100px;
    }

    #home h1 {
        margin: 0;
        padding: 0;
        color: #ffffff7a;
        text-shadow: 1px 1px 1px rgb(41, 41, 41);

    }

    #home h2 {
        color: #ffffffa0;
        text-shadow: 1px 1px 1px rgb(41, 41, 41);
    }

    #home img {
        width: 300px;
        border-radius: 50%;
        margin-top: -5px;
        box-shadow: 0 15px 15px -8px rgba(109, 109, 109, 0.507);
        background-image: linear-gradient(to top, #f9ffee, #f0fcd7, #e7f9bf, #e0f6a6, #d8f28d, #d0ed7c, #c9e96a, #c1e458, #b7dd4a, #acd63c, #a1d02c, #96c917);
    }

    /* section 2 */

    #sites .divCards {
        display: flex;
        padding: 5px;
    }

    #sites .divCardsTools {
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
        margin: 0px 10px;
        justify-content: center;
    }

    #sites .divCardsTools {
       margin: 0px 30px;
       padding: 0px 30px;

    }

    #sites .divCardsTools img {
        width: 78px;
     }

    /* section 3 */

    #marketing .divCards {
        display: flex;
    }
}

/* fonts */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }

  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }

  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }

  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }

  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  /* animation */

  /* Função para criar o efeito de spray no body */
  .wave {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: rgba(226, 250, 188, 0.4);
    border-radius: 50%;
    transform: scale(1);
    pointer-events: none;
    animation: wave-animation 1s ease-out forwards;
    z-index: 1000;
}

@keyframes wave-animation {
    to {
        transform: scale(10);
        opacity: 0;
    }
}

/* Função para criar o efeito de onda nas letras */
/* Estilos básicos para os títulos */
h1, h2, h3 {
    display: block;
    font-size: 2rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.3s ease-out; /* Adiciona transição de cor */
}

/* Classe que será adicionada dinamicamente para o efeito */
.letter-wave {
    display: inline-block;
    transition: transform 0.3s ease-out, color 0.5s ease-out; /* Transição suave para tamanho e cor */
}

/* Cor de destaque durante a animação */
.color-change {
    color: #bde86c; 
}

/* Função para criar o efeito nas imagens e icones*/
/* Estilos básicos para img e i */
img, i {
    display: inline-block; /* Garante que transform funcione */
    cursor: pointer;
    transition: transform 0.3s ease-out; /* Transição suave para o efeito */
}

/* Função para criar o efeito de onda */
/* Estilo inicial dos elementos cardSeção */
.cardAnimation {
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(50px); /* Deslocar para baixo */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Transição suave */
}

/* Estilo final quando o elemento estiver visível */
.cardAnimation.visible {
    opacity: 1; /* Tornar visível */
    transform: translateY(0); /* Voltar à posição original */
}